<div>
    <div>
        <h2>Formulario de candidatos</h2>
        <label style="margin-bottom: 5px;">Nombre:</label>
        <input style="display: block;margin-bottom: 5px" type="text" [(ngModel)]="nombre"
            placeholder="Ingresa el nombre del candidato">
        <label style="margin-bottom: 5px;">Apellido:</label>
        <input style="display: block;margin-bottom: 5px" type="text" [(ngModel)]="apellido"
            placeholder="Ingresa el apellido del candidato">
        <label style="margin-bottom: 5px;">Binomio:</label>
        <input style="display: block; margin-bottom: 5px;" type="text" [(ngModel)]="binomio"
            placeholder="Ingresa el binomio del candidato">
        <button (click)="agregarCandidato()">Agregar</button>
    </div>
    <div>
        <h2>Candidatos</h2>
        <div *ngFor="let candidato of candidatos"
            style="background-color: gray; width: 500px; padding: 8px; margin: 4px  ; border-radius: 5px;">
            <p>Nombre: {{candidato.nombre}}</p>
            <p>Apellido: {{candidato.apellido}}</p>
            <p>Binomio: {{candidato.binomio}}</p>

        </div>
    </div>
</div>